<main class="container">
  <div class="full">
    {{#if dbError}}
      <div>Sorry technical issues! <br /> {{theError}}</div>
      {{else}}

    
        {{#each messages}}
          <div class="message-border">
            <h1 class="message-name">{{messagename}} {{messagesurname}}</h1>
            <p class="message-text">{{message}}</p>
            <p class="message-text">{{messageemail}}</p>
            <p class="message-date">{{messagedate}}</p>

            <div>
              {{#if ../isAdmin}}
                <a href="/messages/delete/{{messageid}}">DELETE</a>
              {{/if}} 
            </div>
          </div>
        {{/each}} 
     
    {{/if}}
  </div>
</main>