<main class="container">
  {{#if dbError}}
    <div>Sorry technical issues! <br /> {{theError}}</div>
  {{else}}

    <div class="left"><a href="/projects">GO BACK</a></div>

    <div class="left"><img
        class="project-img"
        src="{{proj.projectimg}}"
        alt="{{proj.projectimg}}"
      /></div>

    <div class="right">
      <h1 class="project-name">{{proj.projectname}}</h1>
      <p class="project-description">{{proj.projectdescription}}</p>
      <p class="project-date">{{proj.projectdate}}</p>

      <div>
        {{#if isAdmin}}
          <a href="/projects/update/{{projectid}}">MODIFY</a>
          <a href="/projects/delete/{{projectid}}">DELETE</a>
        {{/if}}
      </div>
    </div>

  {{/if}}
</main>