<main class="container">
  

  {{#if dbError}}
    <div>Sorry technical issues! <br /> {{theError}}</div>
  {{else}}

    {{#each projects}}
      <div class="project-border">
        <a href="/project-page/{{projectid}}">
        
        <img class="project-img" src="{{projectimg}}" alt="{{projectimg}}" />
        <h1 class="project-name">{{projectname}}</h1>
        <p class="project-description">{{projectdescription}}</p>
        <p class="project-date">{{projectdate}}</p>

        <div>
          {{#if ../isAdmin}}
            <a href="/projects/update/{{projectid}}">MODIFY</a>
            <a href="/projects/delete/{{projectid}}">DELETE</a>
          {{/if}}
        </div>

      </div></a>
    {{/each}}
  {{/if}}

{{#if isAdmin}}
    <div>
      <a href="/projects/new">NEW PROJECT</a>
    </div>
  {{/if}}
</main>